<%= form_with(model: proyect, local: true) do |form| %>
  <% if proyect.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(proyect.errors.count, "error") %> on saving proyect:</h2>
    <ul>
      <% proyect.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :initial_date %>
    <%= form.date_field :initial_date %>
  </div>

  <div class="field">
    <%= form.label :final_date %>
    <%= form.date_field :final_date %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Proyect.statuses.keys %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
